<div class="form-message form-message--success">
  <div class="form-message__wrapper">
    <h2 class="form-message__title title">
      <span class="title__pre">{{form.success.hl.pre}}</span>
      <span class="title__text">{{form.success.hl.text}}</span>
      <span class="title__post">{{form.success.hl.post}}</span>
    </h2>
    <div class="form-message__copy">
      {{{form.success.copy}}}
    </div>
  </div>
</div>
